In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import os
from prettytable import PrettyTable
import graphviz

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [26]:
feature_name = ['trans_time','total_amount', 'nin', 'nout', 'vout_weights']

In [3]:
df = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/transfer.csv", sep =',')
df

      trans_time  total_amount  nin  nout  vout_weights
0     1486773571           374    2     2      0.750046
1     1486841154           487    3     1      1.000000
2     1487842099           192    1     1      1.000000
3     1489902832           339    2     1      1.000000
4     1459969252           225    1     2      0.877418
...          ...           ...  ...   ...           ...
3215  1476785232           226    1     2      0.995081
3216  1495814853           189    1     1      1.000000
3217  1497695850           189    1     1      1.000000
3218  1498624347           191    1     1      1.000000
3219  1477653186           226    1     2      0.930594

[3220 rows x 5 columns]

In [4]:
target = [0] * 3220

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(df, target, random_state=0)

In [6]:
X_test

      trans_time  total_amount  nin  nout  vout_weights
527   1462850953          7603   51     2      0.999883
883   1462144946          7455   50     2      0.999904
1692  1470533255          6565   44     2      0.999896
1223  1468467714          6125   41     2      0.999875
1570  1463027699          7304   49     2      0.999878
...          ...           ...  ...   ...           ...
958   1462850953          7603   51     2      0.999883
2639  1468467714          6125   41     2      0.999875
2041  1466610812          2437   16     2      0.999799
1758  1470567620          5537   37     2      0.999888
2613  1468680723          3612   24     2      0.999833

[805 rows x 5 columns]

In [25]:
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier

# Step 2: Make an instance of the Model
clf = DecisionTreeClassifier()

# Step 3: Train the model on the data
clf.fit(X_train, Y_train)

# Step 4: Predict labels of unseen (test) data
# Not doing this step in the tutorial
# clf.predict(X_test)
score=clf.score(X_test,Y_test)
score

1.0

In [28]:
[*zip(feature_name, clf.feature_importances_)]

[('trans_time', 0.0),
 ('total_amount', 0.0),
 ('nin', 0.0),
 ('nout', 0.0),
 ('vout_weights', 0.0)]