In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import numpy as np
import os
from prettytable import PrettyTable
import graphviz
import time

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
feature_name = ['total_amount', 'nin', 'nout', 'vout_weights']

In [4]:
df = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/normal_transfer.csv", sep =',', nrows=166000)
ndf = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/transfer.csv", sep =',')

In [5]:
# 归一化处理
ss = MinMaxScaler()
# ss = StandardScaler()
df[feature_name] = ss.fit_transform(df[feature_name])
ndf[feature_name] = ss.fit_transform(ndf[feature_name])

In [6]:
df.insert(df.shape[1], 'target', 0)
ndf.insert(ndf.shape[1], 'target', 1)

In [7]:
# 合并df
frames = [df, ndf]
mix_frame = pd.concat(frames)
mix_frame

      trans_time  total_amount       nin      nout  vout_weights  target
0     1474910112      0.043894 -0.038308 -0.024673      0.591329       0
1     1474910112     -0.160953 -0.124209 -0.086909      0.799304       0
2     1474910112     -0.039675 -0.124209  0.348742     -1.972817       0
3     1474910112     -0.022350 -0.124209  0.410978      0.725682       0
4     1474910112      0.044404 -0.038308 -0.024673     -0.312951       0
...          ...           ...       ...       ...           ...     ...
3215  1476785232     -1.497083 -1.496916  0.132252      0.227705       1
3216  1495814853     -1.509979 -1.496916 -6.521663      0.283850       1
3217  1497695850     -1.509979 -1.496916 -6.521663      0.283850       1
3218  1498624347     -1.509282 -1.496916 -6.521663      0.283850       1
3219  1477653186     -1.497083 -1.496916  0.132252     -0.508408       1

[169220 rows x 6 columns]

In [8]:
print(len(mix_frame))

169220

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(mix_frame[feature_name], mix_frame[['target']], random_state=0)

In [10]:
X_test

        total_amount       nin      nout  vout_weights
90572      -0.067702 -0.038308 -0.024673     -0.234285
144932     -0.068211 -0.124209 -0.024673      0.787053
129481     -0.143628 -0.124209 -0.024673      0.783047
163587     -0.069740 -0.124209 -0.024673      0.283167
44276      -0.143628 -0.124209 -0.024673      0.757513
...              ...       ...       ...           ...
79242       0.064277  0.133494 -0.086909      0.799304
163679     -0.009611  0.047593 -0.086909      0.799304
15306      -0.160444 -0.124209 -0.086909      0.799304
125295     -0.087065 -0.124209 -0.024673      0.749048
134026     -0.143118 -0.124209 -0.024673     -1.463269

[42305 rows x 4 columns]

In [11]:
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier

# Step 2: Make an instance of the Model
clf = DecisionTreeClassifier()

# Step 3: Train the model on the data
clf.fit(X_train, Y_train)

# Step 4: Predict labels of unseen (test) data
# Not doing this step in the tutorial
# clf.predict(X_test)
score=clf.score(X_test,Y_test)
score

1.0

In [12]:
[*zip(feature_name, clf.feature_importances_)]

[('total_amount', 0.0),
 ('nin', 0.426627883090251),
 ('nout', 0.573372116909749),
 ('vout_weights', 0.0)]