In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import os
from prettytable import PrettyTable
import graphviz
import time

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [3]:
feature_name = ['trans_time','total_amount', 'nin', 'nout', 'vout_weights']

In [4]:
df = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/transfer.csv", sep =',')

In [5]:
# 合并df
# frames = [df1, df2, df3]
# result = pd.concat(frames)

# 为df添加新的列
# data.insert(data.shape[1], 'd', 0)

In [6]:
# 处理timestamp
for index, row in df.iterrows():
    day_time = time.strftime("%H:%M", time.localtime(row['trans_time']))
    if day_time < '06:00':
        df.at[index,'trans_time'] = 0
    elif day_time < '12:00':
        df.at[index,'trans_time'] = 1
    elif day_time < '18:00':
        df.at[index,'trans_time'] = 2
    else:
        df.at[index,'trans_time'] = 3

df

      trans_time  total_amount  nin  nout  vout_weights
0              1           374    2     2      0.750046
1              0           487    3     1      1.000000
2              2           192    1     1      1.000000
3              2           339    2     1      1.000000
4              0           225    1     2      0.877418
...          ...           ...  ...   ...           ...
3215           3           226    1     2      0.995081
3216           0           189    1     1      1.000000
3217           3           189    1     1      1.000000
3218           2           191    1     1      1.000000
3219           3           226    1     2      0.930594

[3220 rows x 5 columns]

In [7]:
target = [0] * 3220

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(df, target, random_state=0)

In [9]:
X_test

      trans_time  total_amount  nin  nout  vout_weights
527            1          7603   51     2      0.999883
883            1          7455   50     2      0.999904
1692           1          6565   44     2      0.999896
1223           1          6125   41     2      0.999875
1570           2          7304   49     2      0.999878
...          ...           ...  ...   ...           ...
958            1          7603   51     2      0.999883
2639           1          6125   41     2      0.999875
2041           3          2437   16     2      0.999799
1758           3          5537   37     2      0.999888
2613           3          3612   24     2      0.999833

[805 rows x 5 columns]

In [10]:
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier

# Step 2: Make an instance of the Model
clf = DecisionTreeClassifier()

# Step 3: Train the model on the data
clf.fit(X_train, Y_train)

# Step 4: Predict labels of unseen (test) data
# Not doing this step in the tutorial
# clf.predict(X_test)
score=clf.score(X_test,Y_test)
score

1.0

In [11]:
[*zip(feature_name, clf.feature_importances_)]

[('trans_time', 0.0),
 ('total_amount', 0.0),
 ('nin', 0.0),
 ('nout', 0.0),
 ('vout_weights', 0.0)]