In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import os
from prettytable import PrettyTable
import graphviz
import time

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
feature_name = ['total_amount', 'nin', 'nout', 'vout_weights']

In [4]:
df = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/ransomware/production/normal_transfer.csv", sep =',', nrows=166000)
ndf = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/ransomware/production/transfer.csv", sep =',')

In [5]:
# 归一化处理
ss = MinMaxScaler()
# ss = StandardScaler()
df[feature_name] = ss.fit_transform(df[feature_name])
ndf[feature_name] = ss.fit_transform(ndf[feature_name])

In [6]:
df.insert(df.shape[1], 'target', 0)
ndf.insert(ndf.shape[1], 'target', 1)

In [7]:
# 合并df
frames = [df, ndf]
mix_frame = pd.concat(frames)
mix_frame

      trans_time  total_amount       nin      nout  vout_weights  target
0     1474910112      0.002849  0.001486  0.000203      0.966471       0
1     1474910112      0.000443  0.000000  0.000000      1.000000       0
2     1474910112      0.001867  0.000000  0.001424      0.553084       0
3     1474910112      0.002071  0.000000  0.001627      0.988131       0
4     1474910112      0.002855  0.001486  0.000203      0.820684       0
...          ...           ...       ...       ...           ...     ...
3215  1476785232      0.003125  0.000000  0.333333      0.992888       1
3216  1495814853      0.000000  0.000000  0.000000      1.000000       1
3217  1497695850      0.000000  0.000000  0.000000      1.000000       1
3218  1498624347      0.000169  0.000000  0.000000      1.000000       1
3219  1477653186      0.003125  0.000000  0.333333      0.899643       1

[169220 rows x 6 columns]

In [8]:
print(len(mix_frame))

169220

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(mix_frame[feature_name], mix_frame[['target']], random_state=0)

In [10]:
X_test

        total_amount       nin      nout  vout_weights
90572       0.001538  0.001486  0.000203      0.833367
144932      0.001532  0.000000  0.000203      0.998025
129481      0.000646  0.000000  0.000203      0.997379
163587      0.001514  0.000000  0.000203      0.916790
44276       0.000646  0.000000  0.000203      0.993263
...              ...       ...       ...           ...
79242       0.003088  0.004458  0.000000      1.000000
163679      0.002220  0.002972  0.000000      1.000000
15306       0.000449  0.000000  0.000000      1.000000
125295      0.001311  0.000000  0.000203      0.991898
134026      0.000652  0.000000  0.000203      0.635232

[42305 rows x 4 columns]

In [11]:
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier

# Step 2: Make an instance of the Model
clf = DecisionTreeClassifier()

# Step 3: Train the model on the data
clf.fit(X_train, Y_train)

# Step 4: Predict labels of unseen (test) data
# Not doing this step in the tutorial
# clf.predict(X_test)
score=clf.score(X_test,Y_test)
score

0.9998345349249498

In [12]:
[*zip(feature_name, clf.feature_importances_)]

[('total_amount', 0.013057787763448013),
 ('nin', 0.0035350962951468767),
 ('nout', 0.9812816123503201),
 ('vout_weights', 0.0021255035910850402)]