In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import numpy as np
import os
from prettytable import PrettyTable
import graphviz
import time

In [2]:
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [3]:
feature_name = ['trans_time','total_amount', 'nin', 'nout', 'vout_weights']

In [14]:
df = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/normal_transfer.csv", sep =',', nrows=166000)
ndf = pd.read_csv(r"/Users/linke/Desktop/myspace/git/ransomware/production/transfer.csv", sep =',')

In [15]:
# df = (df - df.min()) / (df.max() - df.min())
# ndf = (ndf - ndf.min()) / (ndf.max() - ndf.min())

df.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
ndf.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

      trans_time  total_amount     nin      nout  vout_weights
0       0.317839      0.015624  0.0125  0.333333      0.638581
1       0.318639      0.025167  0.0250  0.000000      1.000000
2       0.330478      0.000253  0.0000  0.000000      1.000000
3       0.354853      0.012668  0.0125  0.000000      1.000000
4       0.000795      0.003040  0.0000  0.333333      0.822754
...          ...           ...     ...       ...           ...
3215    0.199696      0.003125  0.0000  0.333333      0.992888
3216    0.424781      0.000000  0.0000  0.000000      1.000000
3217    0.447029      0.000000  0.0000  0.000000      1.000000
3218    0.458012      0.000169  0.0000  0.000000      1.000000
3219    0.209962      0.003125  0.0000  0.333333      0.899643

[3220 rows x 5 columns]

In [16]:
df.insert(df.shape[1], 'target', 0)
ndf.insert(ndf.shape[1], 'target', 1)

In [17]:
# 合并df
frames = [df, ndf]
mix_frame = pd.concat(frames)
mix_frame

In [18]:
print(len(mix_frame))

169220

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(mix_frame[['trans_time','total_amount', 'nin', 'nout', 'vout_weights']], mix_frame[['target']], random_state=0)

In [20]:
X_test

        trans_time  total_amount  nin  nout  vout_weights
90572   1474978592           374    2     2      0.834882
144932  1474950215           373    1     2      0.998043
129481  1474906713           225    1     2      0.997403
163587  1474990248           370    1     2      0.917546
44276   1474920311           225    1     2      0.993324
...            ...           ...  ...   ...           ...
79242   1474916356           633    4     1      1.000000
163679  1474990248           488    3     1      1.000000
15306   1474984948           192    1     1      1.000000
125295  1474926013           336    1     2      0.991972
134026  1474915198           226    1     2      0.638548

[42305 rows x 5 columns]

In [11]:
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier

# Step 2: Make an instance of the Model
clf = DecisionTreeClassifier()

# Step 3: Train the model on the data
clf.fit(X_train, Y_train)

# Step 4: Predict labels of unseen (test) data
# Not doing this step in the tutorial
# clf.predict(X_test)
score=clf.score(X_test,Y_test)
score

0.9999527242642714

In [12]:
[*zip(feature_name, clf.feature_importances_)]

[('trans_time', 0.9993530449072575),
 ('total_amount', 1.6553112969913428e-06),
 ('nin', 0.0),
 ('nout', 0.0),
 ('vout_weights', 0.000645299781445413)]