In [1]:
from sklearn.feature_extraction import DictVectorizer
import csv
from sklearn import tree
from sklearn import preprocessing
from six import StringIO
import json
import pandas as pd
import os
from prettytable import PrettyTable
import graphviz

In [2]:
import time
timestamp = 1459969252
#转换成localtime
time_local = time.localtime(timestamp)
#转换成新的时间格式(2016-05-05 20:28:54)
dt = time.strftime("%Y-%m-%d %H:%M:%S",time_local)
dts = time.strftime("%H:%M",time_local)
print(dt)
dts

2016-04-07 03:00:52

'03:00'

In [3]:
res = '8:40' > '8:30'
print(res)

True

In [4]:
a = [1,2,3]
b = [5,7]
a.extend(b)
print(a)

[1, 2, 3, 5, 7]

In [5]:
# importing pandas as pd 
import pandas as pd 
  
# Creating the dataframe  
df = pd.DataFrame({"A":[12, 4, 5, 2, 1], 
                   "B":[7, 2, 54, 3, 1], 
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, 1, 2, 6]}) 
  
# Print the dataframe 
df

    A   B   C   D
0  12   7  20  14
1   4   2  16   3
2   5  54  11   1
3   2   3   3   2
4   1   1   8   6

In [6]:
df = (df - df.min()) / (df.max() - df.min())
df

          A         B         C         D
0  1.000000  0.113208  1.000000  1.000000
1  0.272727  0.018868  0.764706  0.153846
2  0.363636  1.000000  0.470588  0.000000
3  0.090909  0.037736  0.000000  0.076923
4  0.000000  0.000000  0.294118  0.384615